#main{
    text-align: center;
    margin:auto;
    padding:auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.horizontal{
    margin:0;
    padding:0;
    }
    .horizontal li{
        display:inline-block;
        margin-left:-3px; 
        margin-bottom:1px;
        padding: 5px;
        }
.ingredients{
    margin-left:auto;
    margin-right:auto;
}
#logo{
    text-align:left;
}
nav{
    background-color: #ffbfbf;
}
footer{
    background-color:#ffbfbf;
}
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover {
    background-color: #D66B7C;
    color: #000000;
}