#menu{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 60px;
    background-color: #ffbfbf;
    width: 100%;
}

#logo{
    float: left;
    height: 100px;
    width: 33%;
    padding-right: auto;
    background-color: #ffbfbf;
}

#menu-middle{
    width: 66%;
    margin: 0 auto;
}

.content{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ingredients{
    margin-left:auto;
    margin-right:auto;
}

footer{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #ffbfbf;
    text-align: center;
}


a:hover {
    background-color: rgb(214, 107, 124);
    color: #000000;
}
.button {
    background-color: rgb(214, 107, 124);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 2px 1px;
    cursor: pointer;
}

#Input_Ingredients {
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

input[type='text']{
    width: 30%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    background-color: #fff2f2;
}

  