#main{
    text-align: center;
    margin:auto;
    padding:auto;
}

.horizontal{
    margin:0;
    padding:0;
    }
    .horizontal li{
        display:inline-block;
        margin-left:-3px; 
        margin-bottom:1px;
        padding: 5px;
        }
.ingredients{
    margin-left:auto;
    margin-right:auto;
}
#logo{
    text-align:left;
}
footer{
    background-color:#ffbfbf;
}
nav{
    background-color: #ffbfbf;
}
body{
    text-align: center;
}