
.paralax{
    background: url(../pictures/about_paralax.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height:70vh;
    display: grid;
    margin-bottom: 10vh;
}  

.quoteText{
    font-style: italic; 
    margin: auto;
    color:white; 
    border-radius: 20px;
}


.for_slick_slider {
    display: flex;
}

.for_slick_slider .items{
    width: 50%;
    height: auto;
    margin: 50px;
    position: relative;
}

.for_slick_slider .items .overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   color: red;
   background: rgba(0,0,0,0.64);
   border-radius: 5px;
}


.for_slick_slider .slick-center .overlay{
    opacity: inherit;
}


/*
.slick-next:before { content: ">"; color: red; font-size: 30px; } 
.slick-prev:before { content: "<"; color: red; font-size: 30px; }
*/

.for_slick_slider .items img{
    width: 100%;
    height: auto;
    transition: all linear .4s;
    border-radius: 5px;
}

.for_slick_slider .slick-center img{
    transform: scale(1.3);
}