.range-container {
	width: 90%;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
    margin-bottom: 1.3em;
}

.label-container {
	-webkit-flex-basis: 100%;
	display: -webkit-flex;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: space-between;
    margin-top: 2rem;
}

.label {
	color:  #424242;
	font-size: 10px;
	margin-top: 3px;
	text-align: center;
	max-width: 20px;
	-webkit-tap-highlight-color: transparent;  /*gets rid of black flash on click of track*/
}
.slider-container {
	position: relative;
	height: 100%;
    width: 100%;
}
.slider {
	position: absolute;
	left:0;
	width: 100%;
}

.range-fill {
	position:absolute;
	top:4px;
	left:4px;
	height: 30px;
	pointer-events: none;
	border-radius: 10px;
}

input[type=range] {
	-webkit-appearance: none;
	-webkit-flex-basis: 100%;
	-webkit-tap-highlight-color: transparent;
	background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 2px solid #505050;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: #70befd;
    margin-top: -2px;
    border: 2px ;
    cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}

/*MEDIA QUERIES*/

@media (min-width:992px){ 

}

@media(min-width:1200px){
	
}