.titel_link {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.item1 .titel_link {
    color: white;
}

.item2 .titel_link {
    color: black;
}

.item3 .titel_link {
    color: white;
}

.item4 .titel_link {
    color: white;
}

.item5 .titel_link {
    color: white;
}

.item6 .titel_link {
    color: white;
}

.item7 .titel_link {
    color: black;
}

.item8 .titel_link {
    color: black;
}

.grid_container div:hover {
    opacity: 0.5;
}

.grid_container div:hover .titel_link {
    font-size: 30px;
}

.item1 {
    background-image: url(../pictures/topic_ML.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item2 {
    background-image: url(../pictures/topic_howToStart.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item3 {
    background-image: url(../pictures/topic_ArtificialIntelligence.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item4 {
    background-image: url(../pictures/data-mining.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item5 {
    background-image: url(../pictures/topic_DeepLearning.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item6 {
    background-image: url(../pictures/topic_Application.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item7 {
    background-image: url(../pictures/JobsTopic.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item8 {
    background-image: url(../pictures/fundamentalsTopic.PNG);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.grid_container {
    display: grid;
    height: 100vh;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    gap: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 4%;
    padding-left: 4%;
}

@media screen and (max-width: 850px) {
    .titel_link {
        font-size: 28px;
        max-width: 200px;
        text-overflow: ellipsis;
        top: 50%;
        text-align: center;
    }
    .grid_container div:hover .titel_link {
        font-size: 25px;
    }
    .grid_container {
        grid-template-columns: 350px 350px;
        grid-template-rows: repeat(4, 350px);
        margin: 35px;
        margin-top: 5px;
        justify-content: center;
        gap: 1%;
        height: 100%;
    }
    .grid_container div {
        height: 350px;
        width: 350px;
    }
}

@media screen and (max-width: 600px) {
    .grid_container {
        grid-template-columns: 200px 200px;
        grid-template-rows: repeat(4, 200px);
        gap: 5%;
        height: 100vh;
    }
    .grid_container div {
        height: 200px;
        width: 200px;
    }
    .titel_link {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .grid_container {
        grid-template-columns: 200px;
        grid-template-rows: repeat(8, 200px);
        margin-top: 10px;
        gap: 5px;
        height: 99em;
    }
    .titel_link {
        font-size: 16px;
    }
}