.siteTitel {
    color: black;
    padding: 12px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.gallery img {
    height: 100%;
    width: 100%;
    text-align: center;
    box-shadow: 5px 10px grey;
}

.Topic_Titel {
    padding: 32px;
    display: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: -50%;
}

.gallery a:hover+.Topic_Titel {
    display: block;
}

.gallery a:hover {
    opacity: 0.4;
}

.gallery {
    margin: 50px;
    margin-right: 4px;
    float: left;
    height: 250px;
    width: 25%;
    cursor: pointer;
    border-radius: 12px;
    background-color: whitesmoke;
    text-align: center;
}

.responsive {
    margin: auto;
    margin-left: 5%;
}

.content_Topics {
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
    ;
}