.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 50%;
    height: 90%;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.box_header {
    background-color: lightblue;
}

.box_header h2 {
    text-align: left;
}

.topicImg {
    height: 250x;
    width: 250px;
    ;
}

.box_text {
    border: 2px outset lightseagreen;
    margin: 3px;
}

.box_text p {
    font-size: 16px;
    color: black;
    text-align: justify;
    margin: 2px;
}

.box_link h3 {
    text-align: left;
    border-bottom: 2px outset lightseagreen;
    margin: 5px;
}

.box_link ul {
    text-align: left;
    font-size: 15px;
}

.box_info p {
    font-size: 10px;
    text-align: end;
}