/* In diesem Stylesheet werden die einzelnen Topics formatiert
und responsive gestaltet.*/


/* Hier wird der Titel der Topics formatiert. */

.titel_link {
    font-size: 24px;
    max-width: 300px;
    text-overflow: ellipsis;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.item1 .titel_link {
    color: white;
}

.item2 .titel_link {
    color: black;
}

.item3 .titel_link {
    color: white;
}

.item4 .titel_link {
    color: white;
}

.item5 .titel_link {
    color: white;
}

.item6 .titel_link {
    color: white;
}

.item7 .titel_link {
    color: black;
}

.item8 .titel_link {
    color: black;
}


/* Hier wird festgelegt, was passiert wenn man über die Topics hovert*/

.grid_container div:hover {
    /*Der Inhalt der einzelnen Felder wird um 50% transparenter*/
    opacity: 0.6;
}

.grid_container div:hover .titel_link {
    /*Beim Titel die Schriftgröße erhöht*/
    font-size: 30px;
}


/*In diesem Abschnitt werden die einzelnen Felder der Topics mit Inhalt gefüllt */

.item1 {
    background-image: url(../pictures/topic_ML.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item2 {
    background-image: url(../pictures/topic_howToStart.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item3 {
    background-image: url(../pictures/topic_ArtificialIntelligence.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item4 {
    background-image: url(../pictures/data-mining.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item5 {
    background-image: url(../pictures/topic_DeepLearning.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item6 {
    background-image: url(../pictures/topic_Application.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item7 {
    background-image: url(../pictures/JobsTopic.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item8 {
    background-image: url(../pictures/fundamentalsTopic.PNG);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    grid-row: span 1;
    grid-column: span 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


/*Hier wird angeben, wie viele Spalten und Reihen der Grid haben soll
und wir der Grid in der Seite angeordnet sein sill*/

.grid_container {
    display: grid;
    height: 100vh;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    gap: 2%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}


/* Hier wird festgelegt was passiert, wenn der Bildschirm eine Breite von 850 Pixel unterschreitet.
Der Grid hat nur noch 2 Spalten undbekommt 4 Reihen. Auch die Schriftgröße und die Bilder werden angepasst*/

@media screen and (max-width: 850px) {
    .titel_link {
        font-size: 28px;
        max-width: 200px;
        text-overflow: ellipsis;
        top: 50%;
        text-align: center;
    }
    .grid_container div:hover .titel_link {
        font-size: 25px;
    }
    .grid_container {
        grid-template-columns: 350px 350px;
        grid-template-rows: repeat(4, 350px);
        margin: 35px;
        margin-top: 5px;
        justify-content: center;
        gap: 1%;
        height: 100%;
    }
    .grid_container div {
        height: 350px;
        width: 350px;
    }
}


/* Hier wird festgelegt was passiert, wenn der Bildschirm eine Breite von  600 Pixel unterschreitet.
Hier wird nochmal die Größe des Grids und der Bilder angepasst*/

@media screen and (max-width: 600px) {
    .grid_container {
        grid-template-columns: 200px 200px;
        grid-template-rows: repeat(4, 200px);
    }
    .grid_container div {
        height: 200px;
        width: 200px;
    }
    .titel_link {
        font-size: 20px;
    }
}


/* Hier wird festgelegt was passiert, wenn der Bildschirm eine Breite von 400 Pixel unterschreitet.
Hier gibt es nur noch ein Spalte und dafür für jedes Topic eine eigene Reihe.
Auch die Schrift und Bildergröße wurde angepasst.*/

@media screen and (max-width: 400px) {
    .grid_container {
        grid-template-columns: 200px;
        grid-template-rows: repeat(8, 200px);
        margin-top: 10px;
        gap: 5px;
        height: 99em;
    }
    .titel_link {
        font-size: 16px;
    }
}