/* Kommentar */
html{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}


    .aboutContainer{
        display: grid;
    }
    
    .aboutContainer>div{
        align-self: center;
        margin-left: 40px;
        margin-right: 40px;
    }
    .aboutContainer>img{
        margin: auto;
        max-width: 40%;
        min-width: 30%;
        height: auto;
        align-self: center;
    }

 @media screen and (min-width: 801px) {

    .aboutContainer{
     grid-template-columns: 70% 30%;
    }
    .aboutContainer>div{
        align-self: center;
        margin-left: 50px;
    }
    .aboutContainer>img{
        max-width: 50%;
    }
 }