.page-header {
    margin-top: 50px;
    margin-left: 7.5%;
}

.page-header h1 {
    margin-bottom: 30px;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.page-header p {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.page-header a {
    text-decoration: none;
    color: #9ac73f;
    font-size: large;
    font-weight: bold;
}

#map {
    width: 95%;
    height: 450px;
    background: grey;
    margin: auto;
    margin-top: 30px;
}

#panel {
    margin-top: 30px;
    width: 100%;
    height: 400px;
    margin: auto;
}

#aktueller_standort {
    text-decoration: none;
    color: #9ac73f;
    font-size: large;
    font-weight: bold;
    margin-left: 7.5%;
}

.footer_map {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    height: 46px;
    margin-top: -46px;
}

.footer_map a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change color on hover */

.footer_map a:hover {
    background-color: #ddd;
    color: black;
}