.series_list_page{
    margin: auto;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filter_pane{
    display: flex;
    flex-direction: row;
}

