/* design for all offer modals */

* {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.headerLogo {
    float: left;
    height: 50px;
}

.modal-namelocation {
    color: grey;
}

.modal-content-split {
    width: 50%;
    float: left;
    margin-top: 40px;
}

.modal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    object-fit: cover;
}

.modal-amenities {
    padding-left: 20px;
}


/* booking area */

.modal-booking-window {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 10px outset #feca57;
    font-size: 12;
    text-align: center;
    width: 60%;
    display: block;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50px;
    padding: 10px;
    float: left;
}

.modal-booking-window input[type=date] {
    height: 20px;
    border: solid 1px #feca57;
    border-radius: 5px;
    outline: none;
}

.modal-booking-text {
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
}

.modal-booking-window button {
    font-size: 18px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #feca57;
    background-color: white;
    outline: none;
    width: 50%;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}

.modal-booking-window button:hover {
    background-color: #feca57;
}