* {
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: font-family: Verdana, Helvetica, Roboto, Calibri, 'Trebuchet MS', sans-serif;*/
    margin: 0px;
    padding: 0px;
}
.footer {
    background-color: #f1f1f1;
    width: 100%;
    height: 150px;
}

.footer-left {
    display: block;
    float:left;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.footer-left img {
    width: 280px;
}

.footer_slogan {
    color: grey;
    font-size: 16px;
}

.footer-left a {
    text-decoration: none;
    color: black;
}

.footer-right {
    display: block;
    float:right;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footer_end {
    width: 100%;
    float: left;
    text-align: center;
    background-color: white;
    color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
}