            .yellow-container {
                background-color: white;
                width: 100%;
            }
            
            .explanation {
                width: auto;
                margin-left: 7%;
                margin-right: 7%;
                padding-top: 20px;
            }
            
            .mySlides {
                height: 10%;
            }
            
            .header a.biete {
                background-color: #feca57;
            }
            
            .formblock {
                border-color: #bdc3c7;
                border-width: 1px;
                border-style: solid;
                margin: 10px;
            }
            
            input,
            label,
            fieldset {
                margin: 15px;
            }
            
            .selectt {
                display: none;
            }
            
            button {
                padding: 5px 12px;
                font-family: Verdana, Geneva, sans-serif;
                font-weight: 300;
                color: black;
                border: 1px solid silver;
                background-image: linear-gradient(to top, gainsboro 0%, white 90%);
                border-radius: 20px;
            }
            
            input[type="submit"] {
                font-size: 1.3em;
                padding: 5px 12px;
                font-family: Verdana, Geneva, sans-serif;
                font-weight: 300;
                color: black;
                border: 1px solid silver;
                background-image: linear-gradient(to top, gainsboro 0%, white 90%);
                border-radius: 20px;
            }
            
            .form input[type="text"],
            .form textarea {
                width: 100%;
                min-width: 100%;
                box-sizing: border-box;
                padding: 4px;
            }