            .yellow-container {
                background-color: #feca57;
            }
            
            .explanation {
                width: 70%;
                margin-left: 7%;
                padding-top: 20px;
            }
            
            .mySlides {
                height: 10%;
            }
            
            .header a.biete {
                background-color: #feca57;
            }
            
            input,
            label,
            fieldset {
                margin-bottom: 10px;
            }
            
            .selectt {
                display: none;
            }