* {
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: font-family: Verdana, Helvetica, Roboto, Calibri, 'Trebuchet MS', sans-serif;*/
    margin: 0px;
    padding: 0px;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
   /* background-color: #f1f1f1; */
    background-color: white;
    padding: 8px;
}

/*style the logo*/
.logo {
    width: 350px;
    float: left;
    max-width: 400px;
}

/* Style the active/current link
  .header a.active {
    background-color: rgb(255, 225, 52);
    color: black;
  }*/

/* Change the background color on mouse-over */
.header-content-middle a:hover {
    background-color: #feca57;
}

/* Float the link section to the right */
.header-content-middle {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    float: left;
    height: 100%;
}

/* Style the header links */
.header a {
    color: black;
    float: inherit;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;

    /* between the links*/
    text-decoration: none;
    font-size: 18px;
    /* how far from top*/
    border-radius: 50px;
}

.header-content-right {
    height: 100%;
    float: right;
    padding: 10px;
}
.headerButton {
    font-size: 18px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #feca57;
    background-color: white;
    outline: none;
    margin: 10px;
}

.headerButton:hover {
    background-color: #feca57;
    cursor: pointer;
}

.content {
    margin: 0px;
    padding: 0px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

@media screen and (max-width: 700px) {
    .logo, .header-content-middle, .header-content-right {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
    }
}