html {
    background: url("../Pictures/add_food-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contact button[type="submit"] {
    margin-bottom: 10px;
}

.annotation_add_food p {
    font-size: 16px;
    color: #777;
}

.add_food_data {
    display: flex;
    flex-direction: row;
}

.add_food_contact_data {
    padding-right: 20px;
}

.add_food_data .food_data {
    width: 50%;
}

.add_food_data .add_food_contact_data {
    width: 50%;
}

.add_food_data select {
    border: 1px solid #ccc;
    font-size: 16px;
    color: #777;
}