/** {
    box-sizing: border-box;
}*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

#allNotFooter{
    min-height: 100vh; /*damit der Footer unten steht*/
}
/* Style the top navigation bar */

.topnav {
    background-color: #333;
    width: 100%;
    height: 46px;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    flex-shrink: 0;
    margin-bottom: 0%;
}


/* Style the topnav links */

.topnav_link a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

.topnav_logo a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
}

.topnav_logo {
    float: left;
    height: 46px;
}

.logo_image img {
    float: left;
    height: 46px;
    width: 132px;
}

.logo_image a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 1px;
    height: 46px;
    text-decoration: none;
}

body {
    min-height: 100%;
}


/* Change color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #333;
}

nav ul {
    float: right;
}

nav ul li {
    float: right;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    position: relative;
    float: left;
    width: 100%;
    border-radius: 6px;
}

.notification {
    background-color: #333;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.notification:hover {
    background: red;
}

.notification .badge {
    position: absolute;
    top: +2px;
    right: +3px;
    padding: 2px 5px;
    border-radius: 50%;
    background: red;
    color: white;
}

.notification {
    padding: 14px 18px;
    padding-left: 22px;
}

.badge {
    font-size: 8pt;
}

#profilePicturePreview {
    height: 46px;
    max-height: 46px;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 10px;
}

#profileLink {
    padding: 0px 0px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    height: 46px;
}

#profileLink:hover {
    background-color: #ddd;
}

#profileLink p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 11pt;
    height: 46px;
}

#homepage_headline {
    font-size: xx-large;
    font-weight: bolder;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 50px;
    text-align: center;
    color: white;
}

#homepage_text {
    /*width: 55%;*/
    width: 70%;
    /*text-align: center;*/
    text-align: justify;
    margin: auto;
    padding-bottom: 15px;
    /*color: #4B4A4A;*/
    color: black;
}

aside {
    width: 200px;
    float: left;
    padding: 15px;
    margin: 15px;
    /*height: 200px;
    max-width: 220px;
    min-width: 150px;*/
    margin-top: 180px;
}

aside p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#categorie,
#kitchen,
#price,
#distance {
    width: 70%;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#apply_filter,
#reset_filter {
    padding: 3px;
    margin-top: 5px;
}


/*main {
    margin-left: 21%;
    margin-bottom: 100px;
}*/

#searchButton {
    padding: 12px;
    width: 10%;
}

#myInput {
    box-sizing: border-box;
    font-size: 15px;
    padding: 12px;
    border: 1px solid #ddd;
    margin-top: 20px;
    /*margin-right: 5%;*/
    width: 65%;
    margin-bottom: 12px;
    flex-shrink: 0;
    flex-grow: 1;
    min-width: 18rem;
}

#Record,
#MeineRecords,
#Record_specific {
    width: 75%;
    /*margin-right: 5%;
    padding: 2px 2px;
    border-style: double;
    border-color: #848484;
    background: #d8d8d8;*/
    margin-top: 30px;
    /*background-color: white;*/
    padding: 50px;
    opacity: 0.8;
}


/*#MeineRecords {
    width: 75%;
    margin-right: 5%;
    padding: 2px 2px;
    border-style: double;
    border-color: #848484;
    background: #d8d8d8;
    margin-top: 1%;
}*/

#Record h1 {
    color: black;
}

#Record p {
    color: black;
    margin-top: 22px;
}



/* Style the top navigation bar */

.footer {
    overflow: hidden;
    background-color: #333;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 46px;
    margin-top: -46px;
}


/* Style the topnav links */

.footer a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change color on hover */

.footer a:hover {
    background-color: #ddd;
    color: black;
}

table,
th,
td {
    border: 0px solid black;
    font-size: 13pt;
    padding-left: 10px;
}

th {
    font-size: 12pt;
}

table {
    /*border: 2px solid black;*/
    border: solid#4B4A4A;
    table-layout: fixed;
    overflow-wrap: break-word;
    border-collapse: collapse;
    width: 100%;
    /*margin-top: 75px;*/
    color: black;
    margin-bottom: 10px;
}

tr {
    height: 50px;
    background-color: white;
}

#table_order_food {
    border: 0px;
}

.zur_bestellung {
    float: right;
    text-decoration: none;
    border: solid#4B4A4A;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 75px;
}

.mehr_details {
    text-decoration: none;
    border: solid#4B4A4A;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    font-size: 12pt;
    position: relative;
}

.first_row{
    cursor: pointer;
    font-size: 14pt;
}

#article {
    text-decoration: none;
}


/*-----------------------Registrierung-------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

FIELDSET {
    display: inline-block;
}

fieldset,
input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

fieldset {
    margin: 0;
}

#main {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    margin-bottom: 56px;
    /*background: white;*/
}

.container {
    /*max-width: 75%;*/
    width: 75%;
    /*margin: auto;*
    /*position: relative;*/
    margin-left: auto;
    margin-right: auto;
}

.container a {
    text-decoration: none;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#inputProfile {
    text-align: center;
    padding: 0, 0;
    margin: 0, 0, 0, 0;
}

#contact {
    background: #f9f9f9;
    padding: 14px;
    /*margin: 80px 0;*/
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 75%;
    max-width: 100%;
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact input[type="password"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;

}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact input[type="password"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    /*background: #ac4caf;*/
    background: #229954;
    color: #fff;
    /*margin: 0 0 5px;*/
    padding: 10px;
    font-size: 15px;
    margin-top: 15px;
}

#contact button[type="submit"]:hover {
    background: #333;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.order {
    float: left;
}

.profile_data {
    display: flex;
    flex-direction: row;
}

.profile_data .contact_data {
    width: 50%;
}

.profile_data .login_data {
    width: 50%;
}

.contact_data {
    margin-right: 25px;
}


/*---------------------login.php----------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

FIELDSET {
    display: inline-block;
}

fieldset,
input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

fieldset {
    margin: 0;
}

#login_main {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    /*background: white;*/
}

.login_container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.login_container a {
    text-decoration: none;
}

#login input[type="text"],
#login input[type="email"],
#login input[type="tel"],
#login input[type="url"],
#login textarea,
#login button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#login {
    background: #f9f9f9;
    padding: 20px;
    margin: 80px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 75%;
    max-width: 100%;
}

#login h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#login h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#login input[type="text"],
#login input[type="email"],
#login input[type="tel"],
#login input[type="url"],
#login input[type="password"],
#login textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
}

#login input[type="text"]:hover,
#login input[type="email"]:hover,
#login input[type="tel"]:hover,
#login input[type="url"]:hover,
#login input[type="password"]:hover,
#login textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#login textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#login button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #229954;
    color: #fff;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#login button[type="submit"]:hover {
    background: #333;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#login button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#login input:focus,
#login textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}


/*----------------------Add_Food.PHP-------------------------------------------------*/

main {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12pt;
    line-height: 30px;
    color: #777;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.food_information {
    max-width: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#contact {
    width: 75%;
}

#contact input[type="number"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact label {
    font-size: small;
    color: #777;
}

#contact input[type="number"] {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
}

#image_label {
    margin: 5px;
}

#bild {
    margin-top: 10px;
    margin-bottom: 60px;
    width: 400px;
    height: 400px;
}

#bild img {
    max-width: 400px;
    max-height: 400px;
}


/*-----------------------------------------------------*/

#record_image {
    border-radius: 8px;
    /*max-width: 375px;
    max-height: 280px;
    width: auto;
    height: auto;*/
    object-fit: cover;
    width: 300px;
    height: 200px;
    margin-top: 10px;
    opacity: 1.0;
}

#record_image_specific {
    border-radius: 8px;
    /*max-width: 375px;
    max-height: 280px;
    width: auto;
    height: auto;*/
    object-fit: cover;
    max-width: 300px;
    max-height: 350px;
    display: block;
    margin: auto auto;
}
#record_image_specific:hover{
    opacity:0.8;
}

#output {
    border-radius: 8px;
    max-width: 180px;
    max-height: 180px;
    margin: 8px;
}

.gallery {
    max-width: 850px;
    max-height: 300px;
}

#profile_image {
    border-radius: 8px;
    max-width: 180px;
    max-height: 100%;
    height: auto;
    margin: 8px;
}


/*-----------


/*--------------------Nachrichten---------------------------*/

#annotation {
    width: 75%;
    margin-top: 7%;
    margin-bottom: 50px;
    margin-right: 5%;
    padding: 2px 2px;
    border-style: double;
    border-color: #848484;
    background: #d8d8d8;
}

#einzelneNachrichtUser {
    font-style: italic;
    width: 79%;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 1%;
    background-color: white;
    border-color: black;
}

#einzelneNachrichtNichtUser {
    font-style: italic;
    width: 79%;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 20%;
    background-color: white;
    border-color: black;
}

#nachrichtenEingabe {
    margin-top: 12px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

#textareaNachrichtenEingabe {
    height: 30px;
    width: 100%;
}

#listMyMessagesTable {
    margin-top: 0%;
    border: 0px solid black;
    table-layout: fixed;
    overflow-wrap: break-word;
    width: 97%;
}

#listMyMessages {
    margin-top: 2px;
    border: 1px solid black;
    background: white;
}

#neues {
    margin-top: 5%;
    margin-left: 85%;
    width: 10px;
    height: 17px;
    background-color: tomato;
    color: dimgray;
}

* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    margin-left: 3px;
    margin-top: 3px;
    width: 300px;
    height: 350px;
    position: relative;
    float: left;
}

#tdBild {
    width: 306px;
    height: 356px;
}


/* Hide the images by default */

.mySlides {
    display: none;
    vertical-align: middle;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 43%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.2s;
    animation-name: fade;
    animation-duration: 1.2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}