html {
    background: url("../Pictures/change_contact_data-min_ws.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    margin-bottom: 50px;
    margin-top: 50px;
}

.container {
    width: 85%;
}

.container #contact h3 {
    margin-bottom: 20px;
}

.change_profile {
    display: flex;
    flex-direction: row;
}

.change_profile .change_login_data {
    width: 50%;
}

.change_profile .change_contact_data {
    width: 50%;
    margin-right: 20px;
}