html {
    background: url("../Pictures/login_image_small_ws.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#link_registrierung {
    color: #229954;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#text_registrierung {
    text-align: center;
    font-size: 18px;
}