html {
    background: url("../Pictures/meine_anzeigen.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*body {
    background-image: url("../Pictures/meine_anzeigen.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}*/

#MeineRecords {
    margin: auto;
}

#MeineRecords h1 {
    color: black;
}

#MeineRecords p {
    color: black;
}

#MeineRecords table {
    background-color: white;
    margin-top: 20px;
}

#MeineRecords #artikel {
    text-decoration: none;
}

#MeineRecords #benutzer {
    text-decoration: none;
}

#MeineRecords .zur_bestellung {
    background-color: white;
}

#MeineRecords .mehr_details {
    border: 2px solid black;
    text-decoration: none;
    background-color: white;
}