html {
    background: url("../Pictures/messages.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*body {
    background-image: url("../Pictures/messages.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}*/

#annotation {
    margin: auto;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}

#annotation h1 {
    margin-bottom: 25px;
}

#annotation p {
    margin-bottom: 15px;
}

#annotation .zur_bestellung {
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    margin: auto;
}