body {
    background-image: url("../Pictures/registrierung-min.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#main {
    padding-bottom: 50px;
}